/* Universal Selector */
* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* element selectors */
body {
    margin: 1rem 4rem;
    background-color: #FAF9F6;
}

/* class selectors */
.site-header {
    text-align: center;
    padding: 1rem 0 1rem 1rem; /* unit types */
    margin: 2rem 0;  /* we're working in multiples of 16 */

    border: 5px solid #579ec6;
    border-radius: 1rem;
/* 
    background-color: #90d5ff;

    border: 1px solid #003859;
    box-shadow: 0 -5px #003859; */
}

.header-title { /* basic attributes, values, basic syntax */
    color: #003859;
    font-size: 3rem;
    padding-bottom: 15px;
}

.header-text {
    font-size: 1.2rem;
}

.main-container {
    background-color: #579ec6;
    border-radius: 1rem;
    padding: 1.5rem 0.5rem;
}

/* selecting specific elements with a combination of selectors */
.main-container div {
    margin: 0rem 1rem;
}

.location-container {
    margin-top: 2rem;
}

.location-label {
    font-weight: bold;
    font-size: 1.2rem;
}

.location-input {
    width: 200px;
    padding: 6px 12px;
    margin: 4px;
    border-radius: 0.6rem;
}

.date {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0rem;
}

/* flex box and grids */
.forecast-container {
    padding: 1rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 2rem;
    
    /* background-color: #90d5ff; */
}

img {
    width: 600px;

    border: none;
    border-radius: 1rem;
    box-shadow: -10px 10px #003859;
}

.forecast-info {
    background-color: #90d5ff;
    padding: 1.5rem 1rem;
    border-radius: 1.5rem;
    width: 100%;
    box-shadow: 10px -10px #003859;
}

.forecast-info h3 {
    color: #003859;
    font-size: 2rem;
    font-weight: lighter;

    margin-bottom: 0.5rem;
}

.forecast-info ul {
    padding: 0;
}

.forecast-detail {
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    background-color: #e6f4f1;

    border-radius: 0.5rem;
    list-style-type: none;

    padding: 1rem;
    margin-bottom: 1rem;

    box-shadow: 5px 5px 10px #888;
}

.forecast-detail h4 {
    font-weight: bold;
}

.forecast-detail span {
    font-weight: lighter;
}

.forecast-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
}

/* giving multiple different selectors the same attributes */
.forecast-controls button, .weather-button {
    font-size: 1.2rem;
    background-color: #003859;
    color: white;

    border: none;
    padding: 10px 16px;
    border-radius: 1rem;
    font-weight: bold;
}

.weather-button {
    display: block;
    margin: auto auto;
}

footer {
    padding: 20px;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: solid 1px #003859;
    background-color: #90d5ff;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    list-style-type: none;
}

/* animations and pseduo-classes */
a {
    color: #003859;
    text-decoration: none;
    transition: color ease-in-out 0.2s;
    font-size: 0.9rem;
}

a:hover {
    color: deepskyblue;
}